.vscode/*
_archive/*
allImages/*
project_subset/*
questions1.2/*
sceneGraphs/*
drive-download-20211010T091731Z-001.zip
embed_T5.pkl
questions1.2.zip
sceneGraphs.zip
.DS_Store
GraphVQA/questions/*
GraphVQA/sceneGraphs/*
GraphVQA/val_choices.json
GraphVQA/your_outputdir/*
GraphVQA/outputdir/*
GraphVQA/archive/*
GraphVQA/.vector_cache/*
GraphVQA/__pycache__/*
GraphVQA/graph_utils/__pycache__/*
GraphVQA/util/__pycache__/*