.vscode/*
.vector_cache/*
_archive/*
allImages/*
project_subset/*
questions1.2/*
sceneGraphs/*
drive-download-20211010T091731Z-001.zip
embed_T5.pkl
questions1.2.zip
sceneGraphs.zip
.DS_Store
GraphVQA/questions/*
GraphVQA/sceneGraphs/*
Downloads/*
torchtext-0.8.1-py36.tar.bz2
GraphVQA/outputdir/*
GraphVQA/.vector_cache/*